# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

examples/**/example*
!examples/**/*.*
cmd/wails/wails
.DS_Store
tmp
node_modules/
package.json.md5
/frontend/dist/
/build/
/frameless/icon.png
/hidden/icon.png
/frontend/public/bundle.*
v2/pkg/parser/testproject/frontend/wails
/frontend/public
/build/darwin/desktop
/frontend/package.json.md5
.idea/
v2/cmd/wails/internal/commands/initialise/templates/testtemplates/
.env
/website/static/img/.cache.json

/v3/.task
/v3/examples/build/bin/testapp
/websitev3/site/
/v3/examples/plugins/bin/testapp

# Temporary called mkdocs, should be renamed to more standard -website or similar
/mkdocs-website/site